body {
    background-color: rgb(36, 22, 22);
}
#p1 {
    color: tomato;
}
#p2 { /* In VSCode you can use the colour selector instead of manually calibrating. */
    color: rgb(102, 222, 255);
}
#p3 {
    color: #59ff5f;
}
#p4 {
    color: rgb(170, 10, 199);
}